@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #111827;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #111827 inset;
  box-shadow: 0 0 0px 1000px #111827 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

body {
  @apply text-slate-100;
}

.btn {
  @apply box-border flex h-10 items-center justify-center gap-2 rounded-md px-4 py-2 text-sm font-medium leading-5 transition-colors duration-200 ease-in-out disabled:cursor-not-allowed disabled:bg-gray-400 disabled:text-gray-600 disabled:hover:bg-gray-400 disabled:hover:text-gray-600;
}

.btn-primary {
  @apply bg-indigo-600 text-white hover:bg-indigo-700;
}

.btn-secondary {
  @apply bg-[#343B45] text-white hover:bg-gray-700;
}

.btn-secondary-active {
  @apply bg-[#2A303B] text-white hover:bg-gray-700;
}

.badge-serviços {
  @apply bg-green-500 bg-opacity-50 text-white;
}

.badge-saúde {
  @apply bg-red-500 bg-opacity-50 text-white;
}

.badge-outros {
  @apply bg-blue-500 bg-opacity-50 text-white;
}

.badge-lazer {
  @apply bg-purple-500 bg-opacity-50 text-white;
}

.badge-eletrônicos {
  @apply bg-yellow-500 bg-opacity-50 text-white;
}

.badge-restaurante {
  @apply bg-gray-500 bg-opacity-50 text-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
